@using ETicaret.Net8.Models
@model IEnumerable<Category>

<div class="container py-4">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark fw-bold fs-1">Kategori Listesi</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-dark py-3" asp-area="Admin" asp-controller="Category" asp-action="Create"><i class="bi bi-plus-circle"></i> Yeni Kategori Ekle</a>
        </div>
    </div>
</div>
 
<table class="table table-hover table-bordered table-striped py-4">
   <thead>
       <tr>
           <th>Id</th>
           <th>Name</th>
           <th>DisplayOrder</th>
           <th></th>
           <th></th>
       </tr>
   </thead>
   <tbody>
        @foreach(var item in Model.OrderBy(x=>x.DisplayOrder))
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <div class="w-75 btn-group role=group">
                        <a class="btn btn-outline-dark mx-3" asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square mx-2"></i>Kategori Düzenle</a>
                        <a class="btn btn-outline-danger mx-3" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash mx-2"></i>Kategori Kaldır</a>

                    </div>
                </td>
           
            </tr>
        }
    </tbody>
</table>